//
// Buttons
// Description:     Defines generic styles for buttons
//
//
// ========================================================================

.btn {
    display: inline-block;
    min-height: 30px;
    padding: 0 30px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    color: #666;
    font: inherit;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
    white-space: nowrap;
    overflow: visible;
    vertical-align: middle;
    background-origin: border-box;

    -webkit-appearance: none;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        outline: none;
        background-color: #f5f5f5;
        color: #444;
        text-decoration: none;
    }

    &:active {
        background-color: #ddd;
        color: #444;
    }

    &:disabled,
    &--disabled {
        background-color: #f0f0f0;
        color: #999;
    }

    &--next { float: right;}
    &--back { float: left;}

    &--inverted {
        border-color: $text-color;
        background-color: $text-color;
        color: #fff;
        text-shadow: none;

        &:hover,
        &:focus {
            outline: none;
            background-color: #fff;
            color: $text-color;
            text-decoration: none;
        }

        &:active {
            background-color: #eee;
        }
    }

    &--link,
    &--link:hover,
    &--link:focus,
    &--link:active,
    &--link.active,
    &--link:disabled {
        border-color: transparent;
        background-color: none;
    }

    &--link { color: $link-color; }

    &--link:hover,
    &--link:focus,
    &--link:active {
        color: $link-color;
    }

    &--link:disabled {
        color: $link-color;
    }

    &--link:focus {
        outline: 1px dotted;
    }
}
