//
// Forms
// Description:     Optimize page for printing
//
//
// ========================================================================


// Variables
// ========================================================================

$form-gutter                :   $grid-gutter / 2;
$form-input-border          :   #ddd;
$form-input-border-radius   :   0;
$form-input-disabled        :   #f5f5f5;
$form-input-focus-border    :   #99baca;
$form-input-focus-background:   #f5fbfe;
$form-input-placeholder-text:   #999;
// scss-lint:disable one-declaration-per-line
$form-supported-inputs      :  'select,
                                textarea,
                                input:not([type]),
                                input[type="text"],
                                input[type="password"],
                                input[type^="date"],
                                input[type="month"],
                                input[type="time"],
                                input[type="week"],
                                input[type="number"],
                                input[type="email"],
                                input[type="url"],
                                input[type="search"],
                                input[type="tel"],
                                input[type="color"]';
// scss-lint:enable one-declaration-per-line

// Form grid
// ========================================================================

.form {
    &__row {
        display: flex;
        align-items: flex-end;
        max-width: 600px;
        clear: fix;
        @include respond-to(mobile) {
            flex-direction: column;
            max-width: map-get($breakpoints, mobile);
        }

        & + & {
            margin-top: 15px;

            @include respond-to(mobile) {
                margin-top: 0;
            }
        }

        & + &--tight {
            margin-top: 0;
        }
    }

    /* Fulls */
    &__unit-1-1  { width: 100%; }

    /* Halves */
    &__unit-1-2  { lost-column: 1/2 2 $form-gutter flex; }
    &__unit-2-4  { lost-column: 2/4 4 $form-gutter flex; }

    /* Thirds */
    &__unit-1-3  { lost-column: 1/3 3 $form-gutter flex; }
    &__unit-2-3  { lost-column: 2/3 3 $form-gutter flex; }

    /* Quarters */
    &__unit-1-4  { lost-column: 1/4 4 $form-gutter flex; }
    &__unit-3-4  { lost-column: 3/4 4 $form-gutter flex; }

    /* Five columns */
    &__unit-1-5  { lost-column: 1/5 5 $form-gutter flex; }

    &__unit-1-1,
    &__unit-1-2,
    &__unit-2-4,
    &__unit-1-3,
    &__unit-2-3,
    &__unit-1-4,
    &__unit-3-4,
    &__unit-1-5 {
        @include respond-to(mobile) {
            width: 100%;
            margin-right: 0 !important;
            margin-bottom: 15px;
        }
    }
}

// Form unit with information
// ========================================================================

.form__unit--with-info {
    position: relative;
    padding-right: 40px;
    box-sizing: border-box;
}

.form__info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .form__info-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 11px;
        color: $brand-gray;
        font-family: $serif-font-family;
        font-size: 22px;
    }

    .form__info-content {
        display: none;
        position: absolute;
        right: 0;
        bottom: 25px;
        left: 0;
        padding: 15px;
        border: 1px solid $brand-gray;
        background: $brand-white;
        font-family: $sans-font-family;
        font-size: rem-calc(12px);
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            right: 7px;
            bottom: -11px;
            width: 20px;
            height: 20px;
            border-bottom: 1px solid $brand-gray;
            border-left: 1px solid $brand-gray;
            background: $brand-white;
            z-index: 1;
            transform: rotate(-45deg) skew(-15deg, -15deg);
            box-sizing: border-box;
        }

        &--active {
            display: block;
        }
    }
}



// Form sanitization
// ========================================================================

/*
 * 1. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 2. Remove `border-radius` in iOS.
 * 3. Correct `font` properties and `color` not being inherited.
 * 4. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `button`, `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 */
input,
select,
textarea {
    /* 1 */
    margin: 0;
    /* 2 */
    border-radius: 0;
    color: inherit;
    /* 3 */
    font: inherit;
    /* 4 */
    box-sizing: border-box;
}

/*
 * Address inconsistent `text-transform` inheritance which is only inherit in Firefox
 */
select {
    text-transform: none;
}

/*
 * 1. Correct `font` properties not being inherited.
 * 2. Don't inherit the `font-weight` and use `bold` instead.
 * NOTE: Both declarations don't work in Chrome, Safari and Opera.
 */
optgroup {
    /* 1 */
    font: inherit;
    /* 2 */
    font-weight: bold;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*
 * Removes excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
    padding: 0;
}

/*
 * Improves consistency of cursor style for clickable elements
 */
input[type='checkbox']:not(:disabled),
input[type='radio']:not(:disabled) {
    cursor: pointer;
}

/*
 * Remove default style in iOS.
 */
textarea,
input:not([type]),
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='number'],
input[type='datetime'] {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
}

/*
 * Removes placeholder transparency in Firefox.
 */
::-moz-placeholder {
    opacity: 1;
}

/*
 * Removes `box-shadow` for invalid controls in Firefox.
 */
:invalid {
    box-shadow: none;
}

/*
 * Vertical alignment
 */
input:not([type='radio']):not([type='checkbox']),
select {
    vertical-align: middle;
}

/*
 * Reset height
 */
textarea,
select[multiple],
select[size] {
    height: auto;
}


// Form generics
// ========================================================================

.form {
    &__control--full {
        width: 100%;
    }

    &__label {
        display: block;
        margin-bottom: 5px;
    }

    &__req {
        color: $brand-red;
    }

    &__help-inline {
        display: inline-block;
        margin: 0 0 0 10px;
    }

    &__help-block { margin: 5px 0 0 0; }

    fieldset {
        margin: $form-gutter 0 ($grid-gutter * 2) 0;
    }

    legend {
        width: 100%;
        padding: 0;
        padding-bottom: 15px;
        border: 0;
        font-size: 18px;
        line-height: 40px;

        &:after {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
    }

    input[type='checkbox'],
    input[type='radio'] {
        margin-top: -2px;
        margin-right: 2px;
        vertical-align: middle;
    }

    #{$form-supported-inputs} {
        max-width: 100%;
        height: 40px;
        padding: 4px 6px;
        border: 1px solid $form-input-border;
        border-radius: $form-input-border-radius;

        transition: all linear 0.2s;

        // Focus state
        &:focus {
            border-color: $form-input-focus-border;
            outline: 0;
            background: $form-input-focus-background;
        }

        // Disabled state
        &:disabled {
            background-color: $form-input-disabled;
        }
    }

    :-ms-input-placeholder { color: $form-input-placeholder-text !important; }
    ::-moz-placeholder { color: $form-input-placeholder-text; }
    ::-webkit-input-placeholder { color: $form-input-placeholder-text; }

    :disabled:-ms-input-placeholder { color: $form-input-placeholder-text !important; }
    :disabled::-moz-placeholder { color: $form-input-placeholder-text; }
    :disabled::-webkit-input-placeholder { color: $form-input-placeholder-text; }
}


// Form horizontal
// ========================================================================

.form--horizontal {
    &.form__row,
    .form__row {
        align-items: flex-start;
    }

    .form__label {
        width: 200px;
    }
}


// Form button row
// ========================================================================

.btn-row {
    margin: ($form-gutter * 2) 0 0 0;
    clear: fix;
}


// Form validation
// ========================================================================

.form-validation {
    &--error {
        #{$form-supported-inputs} {
            border-color: lighten($danger-color, 30%);
            color: $danger-color;
        }
    }

    &--warning {
        #{$form-supported-inputs} {
            border-color: lighten($warning-color, 30%);
            color: $warning-color;
        }
    }

    &--valid {
        #{$form-supported-inputs} {
            border-color: lighten($success-color, 30%);
            color: $success-color;
        }
    }
}

.form-validation-msg {
    display: none;
    margin-top: -1px;
    padding: 10px 5px;
    border: 1px solid transparent;

    p {
        margin: 0;
    }

    &--error {
        border-color: lighten($danger-color, 30%);
        background: $danger-background;
        color: $danger-color;

    }

    &--warning {
        border-color: lighten($warning-color, 30%);
        background: $warning-background;
        color: $warning-color;
    }

    &--valid {
        border-color: lighten($success-color, 30%);
        background: $success-background;
        color: $success-color;
    }
}

.form-validation--error .form-validation-msg--error,
.form-validation--warning .form-validation-msg--warning,
.form-validation--info .form-validation-msg--info,
.form-validation--valid .form-validation-msg--valid {
    display: block;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    border-left-color: #666;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;

    &--large {
        width: 5rem;
        height: 5rem;
        border-width: 3px;
    }
}
