//
// Layout
// Description:     Provides a responsive, fluid and nestable grid
//
//
// ========================================================================

// Grid
// ========================================================================

@lost gutter #{$grid-gutter};

.container,
.grid-row {
    max-width: rem-calc($site-width - $grid-gutter);
    margin: 22px auto;
    clear: fix;
}

.grid-col,
[class*='grid-col-'] {
    float: left;
    min-height: 1px; /* prevent empty columns from collapsing */
    clear: fix;
}

@for $i from 1 through $grid-columns {
    .grid-col-#{$i} {
        @include grid-col($i);
    }
}

@for $i from 1 through $grid-columns - 1 {
    .grid-push-#{$i} {
        @include grid-col-push($i);
    }
}

.grid-row {
    margin-bottom: $grid-gutter / 2;

    .grid-row {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// Responsive grid
// ========================================================================

@include respond-to(mobile) {

    [class*='grid-col-'] {
        margin: 0 0 $grid-gutter/2 0;
        lost-column: 1;

        &:last-child {
            margin-bottom: 0;
        }
    }

    [class*='grid-push-'] {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

// Debug
// ========================================================================
.debug {
    [class*='grid-col-'] {
        padding: 5px;
        border-radius: 4px;
        background: #eee;
        text-align: center;

        [class*='grid-col-'] {
            background: #ccc;

            [class*='grid-col-'] {
                background: #bbb;
            }
        }
    }
}
