//
// Lists
// Description:     Defines generic styles for ordered and unordered lists
//
//
// ========================================================================


ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}


// Description lists
// ========================================================================

dt { font-weight: bold; }
dd { margin-left: 0; }

// List - without margin, padding or bullets
// ========================================================================

.list {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
