//
// Global Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// Image path
$img-path           :   'img/' !default;

// Grid:  Defining number of columns in the grid. -  Common Values would be 12, 16 or 24
$site-width         :   <%= answers.projectGridWidth %>px !default;
$grid-columns       :   <%= answers.projectGridColumns %> !default;
$grid-gutter        :   <%= answers.projectGridGutter %>px !default;

// Responsive breakpoints
$responsive         :   true;
$responsive-behavior:   down;   // Responsive direction can be 'up', 'down' or 'only'

/// A list of named breakpoints. These are used in the 'respond-to()' mixin to quickly create media queries (@type Map).
$breakpoints: (
  small             :   0,
  mobile            :   768px,
  tablet            :   1024px,
  desktop           :   <%= answers.projectGridWidth %>px,
) !default;

// Typography
$sans-font-family   :   'Arial', 'Helvetica Neue', 'Helvetica', sans-serif !default;
$serif-font-family  :   'Georgia', 'Times', 'Times New Roman', serif !default;
$mono-font-family   :   'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace !default;

$base-font-size     :   14px !default;
$base-font-family   :   'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-line-height   :   1.4 !default;
$alt-font-family    :   'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Brand colors
$brand-black        :   rgb(0, 0, 0) !default;
$brand-gray-dark    :   rgb(80, 80, 80) !default;
$brand-gray         :   rgb(180, 180, 180) !default;
$brand-gray-light   :   rgb(245, 245, 245) !default;
$brand-red          :   rgb(246, 45, 23) !default;
$brand-yellow       :   rgb(255, 238, 0) !default;
$brand-green        :   rgb(108, 167, 65) !default;
$brand-blue         :   rgb(0, 176, 241) !default;
$brand-white        :   rgb(255, 255, 255) !default;

// Scaffolding
$body-background    :   rgb(255, 255, 255) !default;
$text-color         :   #333;

// Links
$link-color         :   #333 !default;
$link-color-alt     :   rgb(246, 45, 23) !default;
$link-color-hover   :   lighten(#333, 20%) !default;
$link-color-active  :   darken(#4f4f4f, 20%) !default;

// Selection
$selection-color    :   #ccf4ff !default;


// Component Variables
//------------------------------------------------------ */

// Form validation and alerts colors
$danger-color       :   #d85030 !default;
$danger-background  :   #fff1f0 !default;

$warning-color      :   #e28327 !default;
$warning-background :   #fffceb !default;

$success-color      :   #659f13 !default;
$success-background :   #f2fae3 !default;

$info-color         :   #2d7091 !default;
$info-background    :   #ebf7fd !default;
