header(role="banner").site-header
    section.section.site-header__navigation
        div.container
            div.site-header__logo-container
                a(href="index.html" title="Go to home").site-header__logo #{site.name}

