header(role="banner").site-header
    section.section.site-header__navigation
        div.container
            div.site-header__logo-container
                a(href="index.html" title="Go to home")
                    svg(role="img" title="Logo", style="height:50px;").site-header__logo
                        use(xlink:href="/Content/Styles/<%= answers.projectName %>/svg/sprite.symbol.svg#logo")