//
// Utility classes
// Description:     Collection of useful utility classes to style your
//                  content
//
//
// ========================================================================

// Clearfix
// ========================================================================

.u-clearfix { clear: fix; }

// Floats
// ========================================================================

.u-right { float: right; }
.u-left { float: left; }

// Center - Centers horizontally. Can be used inside or outside the grid.
// ========================================================================

.u-center {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
}

// Text
// ========================================================================

// Text alignment
.u-text-right { text-align: right; }
.u-text-left { text-align: left; }
.u-text-center { text-align: center; }

// Text states
.u-color-danger { color: #c00; }
.u-color-mute { color: #000; }

// Visibility
// ========================================================================

.u-border-none { border: none; }
.u-invisible { visibility: hidden; }

.u-show {
    display: block;

    @include respond-to(tablet) {
        &-tablet {
            display: block;
        }
    }

    @include respond-to(mobile) {
        &-mobile {
            display: block;
        }
    }
}

.u-hide {
    display: none;

    @include respond-to(tablet) {
        &-tablet {
            display: none;
        }
    }

    @include respond-to(mobile) {
        &-mobile {
            display: none;
        }
    }
}
