extends includes/layout

block append vars
    - var header    = true
    - var footer    = false

block content
    section(role="region").section.jumbotron
        article.container
            h1.display-4 Frontend
                span  #{site.name}
            p.lead
                | #{site.description}

            //-include:markdown ../../../README.md


    section(role="region").section
        div.container
            div.row
                article.col-md-3
                    h5 Sites

                article.col-md-3
                    h5 Pages
                    nav
                        ul.list-unstyled
                            li
                                a(href="tpl-frontpage.html") Front page
                            li
                                a(href="tpl-404.html") 404 page

                article.col-md-3
                    h5 Modules
                    nav
                        ul.list-unstyled
                            li
                                a(href="tpl-cookie.html") Cookie consent
                article.col-md-3
                    h5 Elements
                    nav
                        ul.list-unstyled
                            li
                                a(href="tpl-typography.html") Typography
                            li
                                a(href="tpl-lightbox.html") Lightbox
                            li
                                a(href="tpl-popup.html" onClick="var href = this.href; this.href = document.location.href; window.open('tpl-popup.html', 'window name', 'width=650,height=740,resizable=false,statusbar=no,scrollbars=1'); return false;") Popup
