extends includes/layout

block append vars
    - var header    = true
    - var footer    = false

block content
    section(role="region").section.jumbotron
        article.container
            h1.display-4 Frontend
                span  #{site.name.replace(/^\w/, c => c.toUpperCase())}
            p.lead
                | #{site.description}

            //-include:markdown ../../../README.md

    section(role="region").section
        div.container
            div.row
                article.col-md-3
                    h5 Sites

                article.col-md-3
                    h5 Pages
                    nav
                        ul.list-unstyled
                            li
                                a(href="frontpage.html") Front page
                            li
                                a(href="404.html") 404 page

                article.col-md-3
                    h5 Modules
                    nav
                        ul.list-unstyled
                            li
                                a(href="cookie.html") Cookie consent
                article.col-md-3
                    h5 Elements
                    nav
                        ul.list-unstyled
                            li
                                a(href="typography.html") Typography
                            li
                                a(href="lightbox.html") Lightbox
