extends includes/layout

block append vars
    - var pageTitle = 'tpl-lightbox'

block content
    section(role="region").section
        div.container
           article(role="article").mod
                h1 Lightbox
                p This is a demonstration of the lightbox by <a href="http://fancybox.net">Fancybox.net</a>

                hr

                h2 Different animations

                p
                    a.lightbox(href="images/fancybox/1_b.jpg")
                        img(alt="example1" src="images/fancybox/1_s.jpg")

                pre.code
                    | &lt;a class="lightbox" href="images/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="images/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;

                p
                    a.lightbox-elastic(href="images/fancybox/2_b.jpg")
                        img(alt="example2" src="images/fancybox/2_s.jpg")

                pre.code
                    | &lt;a class="lightbox-elastic" href="images/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="images/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;

                p
                    a.lightbox-nooverlay(href="images/fancybox/3_b.jpg")
                        img(alt="example3" src="images/fancybox/3_s.jpg")

                pre.code
                    | &lt;a class="lightbox-nooverlay" href="images/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="images/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;


                h2 Image gallery
                    span (ps, try using mouse scroll wheel)

                p
                    a.lightbox-gallery(data-gallery-group="gallery-1" href="images/fancybox/9_b.jpg")
                        img(alt="" src="images/fancybox/9_s.jpg")
                    a.lightbox-gallery(data-gallery-group="gallery-1" href="images/fancybox/10_b.jpg")
                        img(alt="" src="images/fancybox/10_s.jpg")
                    a.lightbox-gallery(data-gallery-group="gallery-1" href="images/fancybox/11_b.jpg")
                        img(alt="" src="images/fancybox/11_s.jpg")
                    a.lightbox-gallery(data-gallery-group="gallery-1" href="images/fancybox/12_b.jpg")
                        img(alt="" src="images/fancybox/12_s.jpg")

                pre.code
                    | Gallery - 1
                    | &lt;a class="lightbox-gallery" data-gallery-group="gallery-1" href="img/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="img/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;
                    |.
                    | &lt;a class="lightbox-gallery" data-gallery-group="gallery-1" href="img/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="img/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;
                    |.
                    | Gallery - 2
                    | &lt;a class="lightbox-gallery" data-gallery-group="gallery-2" href="img/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="img/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;
                    |.
                    | &lt;a class="lightbox-gallery" data-gallery-group="gallery-2" href="img/fancybox/example/3_b.jpg"&gt;
                    |   &lt;img alt="example3" src="img/fancybox/example/3_s.jpg" /&gt;
                    | &lt;/a&gt;


                h2 Various examples

                ul
                    li
                        a.lightbox-iframe(href="http://www.google.com" data-height="532" data-width="935") Iframe
