extends includes/layout

block append vars
    - var pageTitle = 'typography'

block content
    section(role="region").section
        div.container
            article(role="article")
                h1 Typography

                p.lead
                    | Type is all set with the rems, so font-sizes and spacial relationships can be responsively sized based on a
                    | single :root font-size property. Out of the box, we never changes the :root font-size, but it's there in case
                    | you need it. All measurements are still base 10 though so, 5.0rem font-size just means 50px.

                hr

                h1 Heading
                h2 Heading
                h3 Heading
                h4 Heading
                h5 Heading
                h6 Heading

                hr

                p
                    a(href="#") Link
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    | officia deserunt mollit anim id est laborum.

                ul
                    li Lorem ipsum dolor sit amet
                    li consectetur adipisicing elit sed do eiusmod
                    li tempor incididunt ut labore
                    li et dolore magna aliqua
                    li Ut enim ad minim veniam, quis nostrud


                | <del>Lorem ipsum dolor sit amet</del>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                | officia deserunt mollit anim id est laborum.

                blockquote.blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                ol
                    li Lorem ipsum dolor sit amet
                    li consectetur adipisicing elit sed do eiusmod
                    li tempor incididunt ut labore
                    li et dolore magna aliqua
                    li Ut enim ad minim veniam, quis nostrud

                hr

                h4 This is a H4 headline

                p
                    | <mark>Lorem ipsum dolor sit amet</mark>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | <a href="#" title="This is a link">This is a link</a>


                table.table.table-striped.table-sm
                    thead.thead-inverse
                        tr
                            th Lorem ipsum
                            th consectetur
                            th adipisicing
                            th eiusmod
                    tbody
                        tr.odd
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.even
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.odd
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.even
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011

                p
                    | <em>Emphasized text</em>
                    | <br/>
                    | <strong>Strong text</strong>
                    | <br/>
                    | <dfn>Definition term</dfn>
                    | <br/>
                    | <code>Computer code text</code>
                    | <br/>
                    | <samp>Sample computer code text</samp>
                    | <br/>
                    | <kbd>Keyboard text</kbd>
                    | <br/>
                    | <var>Variable</var>
                    | <br/>
                    | <cite>Citation</cite>


                h5 This is a H5 headline

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
