//
// <%= answers.projectName %> layout
// Description:     Defines layout styles for the site
//
//
// ========================================================================

// Imports
// ========================================================================

@import 'layout__header';
@import 'layout__footer';

// Layout + Sticky footer
// ========================================================================
body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 76px 4px rgba(0, 0, 0, .1);

    // Sticky footer for IE hack
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 100vh;
    }

    @include respond-to(mobile) {
        display: block;
    }
}

main {
    flex: 1 0 auto;
    min-width: 100%;
    overflow: hidden;
}

// Sections
// ========================================================================
.section {
    padding: 0 $grid-gutter/2;

    .is-popup & {
        padding: 0;
    }
}

// Modules
// ========================================================================
.mod {
    padding: 20px;
    background-color: #fff;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &--no-bg {
        background-color: transparent;
    }
}
