extends includes/layout

block append vars
    - var pageTitle = 'tpl-grid'

block grid
    - var gridColumns = <%= answers.projectGridColumns %>

    div.grid-row
        div(class="grid-col-#{gridColumns}")
            div.pad #{gridColumns}
    // .grid-row

    - for (var i=1; i<=gridColumns; i++)
        - if(gridColumns-i != 0)
            div.grid-row
                div(class="grid-col-"+(gridColumns-i))
                    =gridColumns-i
                div(class="grid-col-"+i)
                    =i
            // .grid-row

    div.grid-row
        - var size2 = gridColumns / 2
        - while(size2--)
            div.grid-col-2
                | 2
    // .grid-row

    div.grid-row
        - var size1 = gridColumns
        - while(size1--)
            div.grid-col-1
                | 1
    // .grid-row


block content
    section.debug.section
        div.container
            h2 .grid-col-
                span X

            block grid

    section.debug.section
        div.container
            h2 Nested rows

            div.grid-row
                div.grid-col-4
                    div.grid-row
                        div.grid-col-2
                            | Mod
                        div.grid-col-2
                            | Mod
                div.grid-col-<%= answers.projectGridColumns - 4 %>
                    | Mod

            // .grid-row

            div.grid-row
                div.grid-col-<%= answers.projectGridColumns / 2 %>
                    div.grid-row
                        div.grid-col-4
                            div.grid-row
                                div.grid-col-2
                                    | Mod
                                div.grid-col-2
                                    | Mod
                        div.grid-col-2
                            | Mod
                div.grid-col-3
                    | Mod
                div.grid-col-3
                    | Mod

            // .grid-row

    section.debug.section
        div.container
            h2 .grid-push-
                span X

            div.grid-row
                div.grid-col-<%= answers.projectGridColumns - 4 %>
                    | 8
                div.grid-col-2.grid-push-2
                    | 2
            // .grid-row
