extends includes/layout

block append vars
    - var pageTitle = 'tpl-popup'
    - var bodyClass = 'is-popup'
    - var header    = false
    - var footer    = false


block content
    section(role="region").section
        div.mod
            h1 Popup
            h1 Headline h1:
                span text inside span ÅÄÖ åäö ÅÆØ åæø

            p.intro
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat.

            hr

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                | officia deserunt mollit anim id est laborum.

            h2 Headline h2:
                span text inside span

            p
                a(href="#") Link
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                | officia deserunt mollit anim id est laborum.

            ul
                li Lorem ipsum dolor sit amet
                li consectetur adipisicing elit sed do eiusmod
                li tempor incididunt ut labore
                li et dolore magna aliqua
                li Ut enim ad minim veniam, quis nostrud

            h3 Headline h3:
                span text inside span


            | <del>Lorem ipsum dolor sit amet</del>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            | officia deserunt mollit anim id est laborum.

            hr

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            ol
                li Lorem ipsum dolor sit amet
                li consectetur adipisicing elit sed do eiusmod
                li tempor incididunt ut labore
                li et dolore magna aliqua
                li Ut enim ad minim veniam, quis nostrud

            div.hr.dooted
                hr

            h4 This is a H4 headline

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                | <a href="#" title="This is a link">This is a link</a>

            table
                thead
                    tr
                        th Lorem ipsum
                        th consectetur
                        th adipisicing
                        th eiusmod
                tbody
                    tr.odd
                        td Dolore magna aliqua
                        td Adipisicing
                        td Tempor
                        td 15.06.2011
                    tr.even
                        td Dolore magna aliqua
                        td Adipisicing
                        td Tempor
                        td 15.06.2011
                    tr.odd
                        td Dolore magna aliqua
                        td Adipisicing
                        td Tempor
                        td 15.06.2011
                    tr.even
                        td Dolore magna aliqua
                        td Adipisicing
                        td Tempor
                        td 15.06.2011

            p
                em Emphasized text
                br
                strong Strong text
                br
                dfn Definition term
                br
                code Computer code text
                br
                samp Sample computer code text
                br
                kbd Keyboard text
                br
                var Variable
                br
                cite Citation

            h5 This is a H5 headline

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            ul.link-list
                li
                    a(href="#") Class aptent taciti sociosqu.
                li
                    a(href="#") Class aptent taciti sociosqu ad litora.
                li
                    a(href="#") Class aptent taciti ad litora torquent.

            hr

            div.btnrow
                a.btn.right(href="#")
                    span.bInner
                        span.arrow Luk