extends includes/layout

block append vars
    - var pageTitle = 'tpl-typography'

block content
    section(role="region").section
        div.container
            article(role="article").mod
                h1 Typography

                h1 Headline h1:
                    span text inside span ÅÄÖ åäö ÅÆØ åæø

                p.lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat.

                hr

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    | officia deserunt mollit anim id est laborum.

                h2 Headline h2:
                    span text inside span

                p
                    a(href="#") Link
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    | officia deserunt mollit anim id est laborum.

                ul
                    li Lorem ipsum dolor sit amet
                    li consectetur adipisicing elit sed do eiusmod
                    li tempor incididunt ut labore
                    li et dolore magna aliqua
                    li Ut enim ad minim veniam, quis nostrud

                h3 Headline h3:
                    span text inside span


                | <del>Lorem ipsum dolor sit amet</del>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                | officia deserunt mollit anim id est laborum.

                hr

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                blockquote
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                ol
                    li Lorem ipsum dolor sit amet
                    li consectetur adipisicing elit sed do eiusmod
                    li tempor incididunt ut labore
                    li et dolore magna aliqua
                    li Ut enim ad minim veniam, quis nostrud

                div.hr.dooted
                    hr

                h4 This is a H4 headline

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    | occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | <a href="#" title="This is a link">This is a link</a>


                table.table.table-data
                    thead
                        tr
                            th Lorem ipsum
                            th consectetur
                            th adipisicing
                            th eiusmod
                    tbody
                        tr.odd
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.even
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.odd
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011
                        tr.even
                            td Dolore magna aliqua
                            td Adipisicing
                            td Tempor
                            td 15.06.2011

                p
                    | <em>Emphasized text</em>
                    | <br/>
                    | <strong>Strong text</strong>
                    | <br/>
                    | <dfn>Definition term</dfn>
                    | <br/>
                    | <code>Computer code text</code>
                    | <br/>
                    | <samp>Sample computer code text</samp>
                    | <br/>
                    | <kbd>Keyboard text</kbd>
                    | <br/>
                    | <var>Variable</var>
                    | <br/>
                    | <cite>Citation</cite>


                h5 This is a H5 headline

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.